@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root{
    --primary-color: rgb(1, 37, 21);
    --primary-darker-color: rgb(6, 17, 12);
}

body{
   background-color: var(--primary-color);
}
h1{
    font-size: 2em;
}
.container{
    font-family: 'Open Sans', sans-serif;
    max-width: 640px;
    background-color: white;
    padding: 50px;
    margin: 50px auto;
    border-radius: 10px;
}
.relogio{
    font-size: 4em;
}
.pausado{
    color: red;
}
.iniciar, .pausar, .zerar{
    color: white;
    background-color: var(--primary-darker-color);
    padding: 10px;
    border-radius: 10px;
}